// -----------------------------------------------------------------------------
// This file contains all styles related to the access section of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.access {
  justify-items: center;
  padding-bottom: to-rem(96);

  @include breakpoint('medium') {
    padding-bottom: to-rem(72);
  }

  &__text {
    @include breakpoint('medium') {
      grid-column: col-start 3 / col-end -3;
    }
  }

  &__image {
    margin-top: to-rem(60);

    @include breakpoint('medium') {
      margin-top: to-rem(100);
    }
  }
}
