// -----------------------------------------------------------------------------
// This file contains all styles related to the cta section of the site/application.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.cta {
  padding-bottom: to-rem(134);

  @include breakpoint('medium') {
    padding-bottom: to-rem(114);
  }

  &__text {
    @include breakpoint('medium') {
      grid-column: col-start 3 / col-end -3;
    }
  }
}
