// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

@use '../abstracts/' as *;

.section {
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  &--hidden {
    transform: translateY(to-rem(50));
    opacity: 0;
  }
}
